.venv/
__pycache__/
*.pyc
.pytest_cache/
node_modules/
dist/
*.log
.env
uploads/*
!uploads/speakers/
uploads/speakers/*
!uploads/speakers/arifah-choiri-fauzi.jpg
!uploads/speakers/linda-chen.jpg
!uploads/speakers/ratna-kusuma.jpg
.private_uploads/
.secrets/
